.navbar-dark {
  background-color: black !important;
}
#battleRoyaleBg {
  background-image: url("https://media.contentapi.ea.com/content/dam/apex-legends/common/hunted/apex-section-bg-battle-royale-homepage-xl.jpg.adapt.1920w.jpg");
}
#asd {
  background-image: url("https://media.contentapi.ea.com/content/dam/apex-legends/common/apex-section-bg-homepage-news-xl.jpg.adapt.1920w.jpg");
}
